<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Prometo.ttf</string>
		<string>Prometo-Bold.ttf</string>
		<string>Prometo-Medium.ttf</string>
		<string>Soleto-Bold.ttf</string>
		<string>Soleto-Regular.ttf</string>
		<string>Soleto-Medium.ttf</string>
		<string>PolySansTrial-Bulky.otf</string>
		<string>PolySansTrial-Median.otf</string>
		<string>PolySansTrial-Neutral.otf</string>
		<string>Prometo-Bold.ttf</string>
		<string>Alliance No.1 Bold.otf</string>
		<string>Alliance No.1 Medium.otf</string>
		<string>Alliance No.1 Regular.otf</string>
	</array>
</dict>
</plist>
